<deployment>
   <hosts>
    <host name="localhost"
          dir="./BX_SARL/test/"/>
  </hosts>
  <cyclicBarrier   hostname="localhost" port="55253"/>
  <globalRegistry  hostname="localhost" port="55252"/>
  <rmiRegistryPort no="55999"/>
  <jvms2hostnames>
    <jvm2hostname jvmuri="controleur"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="DistributedCVM"/>
    <jvm2hostname jvmuri="appareils"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="DistributedCVM"/>

  </jvms2hostnames>
</deployment>
