<deployment>
   <hosts>
    <host name="localhost"
          dir="/Users/julienxavier/git/BX_SARL"/>
  </hosts>
  <cyclicBarrier   hostname="localhost" port="55253"/>
  <globalRegistry  hostname="localhost" port="55252"/>
  <rmiRegistryPort no="55999"/>
  <jvms2hostnames>
    <jvm2hostname jvmuri="batterie"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="DistributedCVM"/>
    <jvm2hostname jvmuri="bouilloire"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="DistributedCVM"/>
    <jvm2hostname jvmuri="capteurChaleur"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="DistributedCVM"/>
    <jvm2hostname jvmuri="capteurVent"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="DistributedCVM"/>
    <jvm2hostname jvmuri="chargeur"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="DistributedCVM"/>
    <jvm2hostname jvmuri="chauffage"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="DistributedCVM"/>
    <jvm2hostname jvmuri="compteur"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="DistributedCVM"/>
    <jvm2hostname jvmuri="controleur"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="DistributedCVM"/> 
    <jvm2hostname jvmuri="eolienne"
        rmiRegistryCreator="false"
        	hostname="localhost"
        mainclass="DistributedCVM"/>
  </jvms2hostnames>
</deployment>